<!-- 镜像界面 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <!-- 物理主机资源使用 -->
    <div class="desc">镜像</div>
    <div class="row pull-right">
        <div class="inline">
            <input type="text" class="form-control" ng-model="search" placeholder="输入镜像名称查找">
        </div>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createImageModal" ng-click="newMirror={disk_format: false, min_disk: 0, min_ram:0};"><span class="fa fa-plus"></span>&nbsp;创建镜像</button>
    </div>
    <br>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <!-- <th>
                    <input type="checkbox">
                </th> -->
                <th ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    镜像名称
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th ng-click="sortType = 'image_type'; sortReverse = !sortReverse">
                    类型
                    <span ng-show="sortType == 'image_type' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'image_type' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th ng-click="sortType = 'status'; sortReverse = !sortReverse">
                    状态
                    <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th ng-click="sortType = 'visibility'; sortReverse = !sortReverse">
                    公有
                    <span ng-show="sortType == 'visibility' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'visibility' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th ng-click="sortType = 'protected'; sortReverse = !sortReverse">
                    受保护的
                    <span ng-show="sortType == 'protected' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'protected' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th ng-click="sortType = 'disk_format'; sortReverse = !sortReverse">
                    镜像格式
                    <span ng-show="sortType == 'disk_format' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'disk_format' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th ng-click="sortType = 'size'; sortReverse = !sortReverse">
                    配置
                    <span ng-show="sortType == 'size' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'size' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="image in images | orderBy:sortType:sortReverse | imageFilter:search | itemsPerPage: itemPerPage as result track by $index" current-page="currentPage">
                <!-- <td>
                    <input type="checkbox">
                </td> -->
                <td ng-bind="image.name"></td>
                <td ng-bind="image.image_type"></td>
                <td ng-bind="image.status"></td>
                <td ng-bind="image.visibility"></td>
                <td ng-bind="image.protected"></td>
                <td ng-bind="image.disk_format"></td>
                <td ng-bind="image.size"></td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editImageModal" ng-click="edit(image, $index)">编辑镜像</button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a data-toggle="modal" data-target="#deleteImageModal" ng-click="delete(image, $index)">删除镜像</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="active tfoot-dsp">
                <td colspan="11">Displaying {{ result.length }} </td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true" template-url="pages/cloud_hosts/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
<!-- 模态框 编辑镜像 -->
<div class="modal fade" id="editImageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑镜像</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="">名称</label>
                        <input type="text" class="form-control" id="" ng-change="changed=true" ng-model="mirror.name">
                    </div>
                    <div class="form-group">
                        <label for="">最小磁盘(GB)</label>
                        <input type="text" class="form-control" id="" ng-change="changed=true" ng-model="mirror.min_disk">
                    </div>
                    <div class="form-group">
                        <label for="">最小内存(MB)</label>
                        <input type="text" class="form-control" id="" ng-change="changed=true" ng-model="mirror.min_ram">
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-change="changed=true" ng-model="mirror.visibility"> 公有
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-change="changed=true" ng-model="mirror.protected"> 受保护的
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="changed=false">取消</button>
                <button type="button" class="btn btn-primary" ng-disabled="!changed" ng-click="saveChange(mirror, origin)">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框 创建镜像 -->
<div class="modal fade" id="createImageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">创建镜像</h4>
            </div>
            <div class="modal-body">
                <form name="newMirrorForm" role="form">
                    <div class="form-group">
                        <label for="">名称</label>
                        <input type="text" class="form-control" ng-init="newMirror.name=''" ng-model="newMirror.name" required="">
                    </div>
                    <div class="form-group">
                        <label for="">镜像文件</label>
                        <input type="file" class="form-control" id="file" name="file" ngf-select="" ng-model="newMirror.myfile">
                    </div>
                    <div class="form-group">
                        <label for="">镜像格式</label>
                        <select class="form-control" ng-init="newMirror.disk_format=false" ng-model="newMirror.disk_format" ng-options="image.value as image.label for image in formats"></select>
                    </div>
                    <div class="form-group">
                        <label for="">最小磁盘(GB)</label>
                        <input type="number" class="form-control" min="0" ng-init="newMirror.min_disk=0" ng-model="newMirror.min_disk" required="">
                    </div>
                    <div class="form-group">
                        <label for="">最小内存(MB)</label>
                        <input type="number" class="form-control" min="0" ng-init="newMirror.min_ram=0" ng-model="newMirror.min_ram" required="">
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-init="newMirror.visibility=false" ng-model="newMirror.visibility"> 公有
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-init="newMirror.protected=false" ng-model="newMirror.protected"> 受保护的
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="newMirror={disk_format: false, min_disk: 0, min_ram:0};">取消</button>
                <button type="button" class="btn btn-primary" ng-disabled="newMirrorForm.$invalid" ng-click="createImage(newMirror)">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框 删除镜像 -->
<div class="modal fade" id="deleteImageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">删除镜像</h4>
            </div>
            <div class="modal-body">
                确认删除 {{deleteImage.name}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="deleteImageConfirm(deleteImage)">删除</button>
            </div>
        </div>
    </div>
</div>
