<!-- 内容显示界面 -->
<!-- <div id="loading_monitor"><img src="./icon/preloader.gif" alt="loading.." /></div> -->
<!-- <div id="background_monitor" class="background"></div> -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 ">
    <!-- 实例 -->
    <div class="subHeader">项目</div>
    <form class="form-inline form-btn">
        <div class="input-group">
            <input type="text" class="form-control input-md searchProjects" placeholder="Filter" ng-model="search"><span class="input-group-addon btn btn-primary"><i class='fa fa-search'></i></span>
        </div>
        <button type="button" class="btn btn-primary" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
        <button class="btn btn-primary " data-toggle="modal" data-target="#createProject" ng-click="setFlag()" type="button"><span class="fa fa-plus"></span>&nbsp;<span class="">创建项目</span></button>
        <button type="button" class="btn btn-primary btn-danger deleteProject" disabled ng-click="deleteProjects()"><i class="fa fa-remove"></i>删除项目</button>
        &nbsp;
    </form>
    <br>
    <br>
    <table class="table table-striped instance_info table-bordered ">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="all_check">
                </th>
                <th ng-click="sortType = 'name'; sortReverse_name = !sortReverse_name;sortReverse=sortReverse_name">
                    名称
                    <span ng-show="sortType == 'name' && sortReverse_name" class="fa fa-caret-up" style="float:right"></span>
                    <span ng-show="sortType == 'name' && !sortReverse_name" class="fa fa-caret-down" style="float:right"></span>
                </th>
                <th ng-click="sortType = 'description'; sortReverse_desc = !sortReverse_desc;sortReverse=sortReverse_desc">
                    描述
                    <span ng-show="sortType == 'description' && sortReverse_desc" class="fa fa-caret-up" style="float:right"></span>
                    <span ng-show="sortType == 'description' && !sortReverse_desc" class="fa fa-caret-down" style="float:right"></span>
                </th>
                <th ng-click="sortType = 'id'; sortReverse_proId = !sortReverse_proId;sortReverse=sortReverse_proId">
                    项目ID
                    <span ng-show="sortType == 'id' && sortReverse_proId" class="fa fa-caret-up" style="float:right"></span>
                    <span ng-show="sortType == 'id' && !sortReverse_proId" class="fa fa-caret-down" style="float:right"></span>
                </th>
                <th ng-click="sortType = 'enabled'; sortReverse_enabled = !sortReverse_enabled;sortReverse=sortReverse_enabled">
                    激活
                    <span ng-show="sortType == 'enabled' && sortReverse_enabled" class="fa fa-caret-up" style="float:right"></span>
                    <span ng-show="sortType == 'enabled' && !sortReverse_enabled" class="fa fa-caret-down" style="float:right"></span>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody ng-repeat="info in qiandaoInfos | orderBy:sortType:sortReverse">
            <tr ng-if="$even" class="active">
                <td>
                    <input type='checkbox' class='project_checks' id="{{info.id}}">
                </td>
                <td><a href="#/{{info.id}}" style="cursor: pointer;">{{info.name}}</a></td>
                <td>{{info.description}}</td>
                <td>{{info.id}}</td>
                <td>{{info.enabled}}</td>
                <td>
                    <div class='btn-group'>
                        <button type='button' class='btn btn-default btn-sm' data-toggle="modal" data-target="#createProject" ng-click="manageMember()">管理成员</button>
                        <button type='button' class='btn btn-default btn-sm dropdown-toggle' data-toggle='dropdown'>
                            <span class='caret'></span>
                        </button>
                        <ul class='dropdown-menu' role='menu' style='z-index:1000'>
                            <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#createProject" ng-click="editProject(info.id,info.name,info.description,info.enabled)">编辑项目</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">查看使用情况</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#createProject" ng-click="updateQuota()">修改配额</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="deleteProject(info.id)"><span style="color:red">删除项目</span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr ng-if="$odd">
                <td>
                    <input type='checkbox' class='project_checks' id="{{info.id}}">
                </td>
                <td><a href="#/{{info.id}}" style="cursor: pointer;">{{info.name}}</a></td>
                <td>{{info.description}}</td>
                <td>{{info.id}}</td>
                <td>{{info.enabled}}</td>
                <td>
                    <div class='btn-group'>
                        <button type='button' class='btn btn-default btn-sm' data-toggle="modal" data-target="#createProject" ng-click="manageMember()">管理成员</button>
                        <button type='button' class='btn btn-default btn-sm dropdown-toggle' data-toggle='dropdown'>
                            <span class='caret'></span>
                        </button>
                        <ul class='dropdown-menu' role='menu' style='z-index:1000'>
                            <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#createProject" ng-click="editProject(info.id,info.name,info.description,info.enabled)">编辑项目</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">查看使用情况</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#createProject" ng-click="updateQuota()">修改配额</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="deleteProject(info.id)"><span style="color:red">删除项目</span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr ng-if="!simplePageCount">
                <td class="text-center" colspan="6">没有可显示的项目</td>
            </tr>
            <tr ng-if="simplePageCount" class="active tfoot-dsp">
                <td colspan="6">Displaying {{ simplePageCount }} / {{item_count}} items</td>
            </tr>
        </tfoot>
    </table>
</div>
<div align="center">
    <nav ng-show="pageBarShow">
        <ul class="pagination">
            <li><a href="javascript:void(0)" ng-click="nextPage(curr_page,'-')" disabled="curr_page==1">&laquo;</a></li>
            <li ng-repeat="pagebar in pageNumArray">
                <a href="javascript:void(0)" ng-if="pagebar==1" flag='project' id="page{{pagebar}}" ng-click="changePage(pagebar)" style="color: white;background-color: #428BCA;font-weight: bold">{{pagebar}}</a>
                <a href="javascript:void(0)" ng-if="pagebar!=1" flag='project' id="page{{pagebar}}" ng-click="changePage(pagebar)">{{pagebar}}</a>
            </li>
            <li><a href="javascript:void(0)" ng-click="nextPage(curr_page,'+')" disabled="curr_page==AllPageNum">&raquo;</a></li>
        </ul>
    </nav>
</div>
<!-- 模态框 创建项目 -->
<div id="createProject" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:54%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" ng-click="cancelCreate()">&times;</span></button>
                <h4 class="modal-title">创建项目</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class=""><a data-toggle="tab" data-target="#home" style="cursor: pointer;" id="proInfo">项目信息</a></li>
                    <li><a data-toggle="tab" data-target="#member" style="cursor: pointer;" id="proMember">项目成员</a></li>
                    <li><a data-toggle="tab" data-target="#profile" style="cursor: pointer;" id="proQuota">配额</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane " id="home">
                        <br/>
                        <form class="form-horizontal">
                            <div class="form-group projectName">
                                <label class="col-sm-3 control-label">名称<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control projectNameplaceholder" ng-model="projectName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">描述</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" ng-model="projectDesc"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">激活</label>
                                <div class="checkbox col-sm-1">
                                    <label>
                                        <input type="checkbox" ng-checked="projectCreateStatus" ng-click="changeStatus()">
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="member">
                        <br/>
                        <div class="row">
                            <div class="col-sm-6 " style="border:1px solid #DDDDDD;padding:0px;margin-left:2%">
                                <form class="form-horizontal">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <label class="col-sm-4 control-label" style="margin-top:2%;padding:auto;text-align:center">全部用户</label>
                                        <div class="col-sm-3 col-sm-offset-4">
                                            <div class="form-group has-feedback" style="margin-top:12%;">
                                                <input type="text" class="form-control" ng-model="searchUser" placeholder="Filter">
                                                <span class="fa fa-search form-control-feedback" style="margin-top:6%;margin-right:-12%"></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <ul class="nav nav-pills nav-stacked" ng-repeat="user in users | filter:searchUser">
                                    <li ng-if="$even" style="background:#F7F7F7">
                                        <a href="javascript:void(0)" style="position: absolute;">{{user.name}}</a>
                                        <button type="button" class="btn btn-primary btn-sm" style="width:8%;height:2%;position:relative;z-index='100';margin-top:2%;margin-bottom:2%;margin-left:90%" ng-click="selectUser(user.id)"><span align="center">+</span></button>
                                    </li>
                                    <li ng-if="$odd">
                                        <a href="javascript:void(0)" style="position: absolute;">{{user.name}}</a>
                                        <button type="button" class="btn btn-primary btn-sm" style="width:8%;height:2%;position:relative;z-index='100';margin-top:2%;margin-bottom:2%;margin-left:90%" ng-click="selectUser(user.id)"><span align="center">+</span></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-5 " style="border:1px solid #DDDDDD;padding:0px;margin-left:3%">
                                <form class="form-horizontal">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <label class="col-sm-4 control-label" style="margin-top:2%;padding:auto;text-align:center">项目成员</label>
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <div class="form-group has-feedback" style="margin-top:12%;">
                                                <input type="text" class="form-control" ng-model="searchSelectedUser" placeholder="Filter">
                                                <span class="fa fa-search form-control-feedback" style="margin-top:6%;margin-right:-12%"></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <ul class="nav nav-pills nav-stacked" ng-repeat="user in selectedUsers | filter:searchSelectedUser">
                                    <li ng-if="$even" style="background:#F7F7F7">
                                        <a href="javascript:void(0)" style="position: absolute;display:inline-block">{{user.name}}</a>
                                        <div style="position:relative;left:67%">
                                            <select style="position:relative;z-index:10;width:20%;">
                                                <option ng-repeat="role in roles" id="{{role.id}}">{{role.name}}</option>
                                            </select>
                                            <button type="button" class="btn btn-primary btn-sm" style="position:relative;margin-top:1%" ng-click="removeUser(user.id)"><span align="center">-</span></button>
                                        </div>
                                    </li>
                                    <li ng-if="$odd">
                                        <a href="javascript:void(0)" style="position: absolute;">{{user.name}}</a>
                                        <div style="position:relative;left:67%">
                                            <select style="position:relative;z-index:10;width:20%;">
                                                <option ng-repeat="role in roles" id="{{role.id}}">{{role.name}}</option>
                                            </select>
                                            <button type="button" class="btn btn-primary btn-sm" style="position:relative;margin-top:1%" ng-click="removeUser(user.id)"><span align="center">-</span></button>
                                        </div>
                                    </li>
                                </ul>
                                <span ng-show="selectedUsers.length==0">
                                   <ul class="nav nav-pills" role="tablist" style="background:#F7F7F7">
                                     <li><a href="javascript:void(0)">没有用户</a></li>
                                     </ul>
                                  </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <form class="form-horizontal">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">元数据条目<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_metadata_items">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">虚拟内核<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_cores">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">实例<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_instances">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">注入的文件<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_injected_files">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">已注入文件内容(Bytes)<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_injected_file_content_bytes">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">内存 (MB)<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_ram">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">安全组<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_security_groups">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">安全组规则<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_security_group_rules">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">浮动IP<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_floating_ips">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">网络<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">端口<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">路由<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <br/>
                                <label class="col-sm-3 control-label">子网<span class="span-stand"> *</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="pro_">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer" ng-show="createPro_ManageInfo">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelCreate()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="createProjectOK()">创建项目</button>
            </div>
            <div class="modal-footer" ng-show="!createPro_ManageInfo">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelUpdateMemProfile()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="updateMemProfileOK()">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
