<!-- 云主机界面 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <!-- 云主机 -->
    <div class="desc">云主机</div>
    <div class="row pull-right">
        <button type="button" class="btn btn-primary" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
        <div class="inline">
            <select class="form-control" ng-model="search.name" ng-init="search.name='name'">
                <option value="name">云主机名称</option>
                <option value="hypervisorHostname">物理主机名</option>
                <option value="tenantName">租户名称</option>
                <option value="image">镜像</option>
                <option value="configure">配置</option>
            </select>
        </div>
        <div class="inline">
            <input type="text" class="form-control" ng-init="search.input=''" ng-model="search.input">
        </div>
        <!--         <button class="btn btn-danger" data-toggle="modal" data-target="#delete-confirm" ng-click="confirmDel()" ng-disabled="freeIP"><i class="fa fa-times"></i>删除实例</button> -->
    </div>
    <table class="table table-striped table-bordered">
        <br>
        <br>
        <thead>
            <tr>
                <!--                 <th>
                    <input type="checkbox">
                </th> -->
                <th ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    云主机名
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th ng-click="sortType = 'hypervisorHostname'; sortReverse = !sortReverse">
                    物理主机名
                    <span ng-show="sortType == 'hypervisorHostname' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'hypervisorHostname' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th ng-click="sortType = 'tenantName'; sortReverse = !sortReverse">
                    租户名
                    <span ng-show="sortType == 'tenantName' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'tenantName' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th>IP地址</th>
                <th ng-click="sortType = 'image'; sortReverse = !sortReverse">
                    镜像
                    <span ng-show="sortType == 'image' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'image' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th ng-click="sortType = 'configure'; sortReverse = !sortReverse">
                    配置
                    <span ng-show="sortType == 'configure' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'configure' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th ng-click="sortType = 'availableScope'; sortReverse = !sortReverse">
                    可用域
                    <span ng-show="sortType == 'availableScope' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'availableScope' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th ng-click="sortType = 'availableScope'; sortReverse = !sortReverse">
                    状态
                    <span ng-show="sortType == 'availableScope' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="sortType == 'availableScope' && sortReverse" class="fa fa-caret-up pull-right"></span>
                </th>
                <th>从创建以来</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="vm in vms | orderBy:sortType:sortReverse | cloudHostsFilter: search | itemsPerPage: itemPerPage as result track by $index " current-page="currentPage">
                <!--                 <td>
                    <input type="checkbox">
                </td> -->
                <td ng-bind="vm.name"></td>
                <td ng-bind="vm.hypervisorHostname"></td>
                <td><a href="#/tenant/resource/{{vm.tenantId}}">{{vm.tenantName}}</a></td>
                <td><span ng-repeat="ip in vm.ipAddr"><b>{{ip.name}}</b>:<br><ins><i>{{ip.fixedIP}},{{ip.floatingIP}}</i></ins><br></span></td>
                <td ng-bind="vm.image"></td>
                <td ng-bind="vm.configure"></td>
                <td ng-bind="vm.availableScope"></td>
                <td ng-bind="vm.status"></td>
                <td ng-bind="vm.lastTime"></td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm">编辑云主机</button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a data-toggle="modal" data-target="#snapshotModal" ng-click="dispName(vm.name, vm.id)">创建快照</a></li>
                            <li><a ng-click="virtualConsole(vm.id)">虚拟控制台</a></li>
                            <li><a data-toggle="modal" data-target="#softRebootModal" ng-click="dispName(vm.name, vm.id) ">软重启</a></li>
                            <li><a data-toggle="modal" data-target="#hardRebootModal" ng-click="dispName(vm.name, vm.id) ">硬重启</a></li>
                            <li><a data-toggle="modal" data-target="#deleteModal" ng-click="dispName(vm.name, vm.id) ">删除实例</a></li>
                            <li><a href="#/monitor/instance_resource?tenant_id={{vm.tenantId}}&server_id={{vm.id}}">资源监控</a></li>
                            <li><a href="#/monitor/instance_traffic?tenant_id={{vm.tenantId}}&server_id={{vm.id}}">流量监控</a></li>
                        </ul>
                    </div>
                </td>
                <!--                 <td>
                    <div class="btn-group ">
                        <button type="button " class="btn btn-default btn-sm " data-toggle="modal" data-target="#editHostModal" ng-click="editCloudHost($index) ">编辑云主机</button>
                        <button type="button " class="btn btn-default btn-sm dropdown-toggle " data-toggle="dropdown ">
                            <span class="caret "></span>
                        </button>
                        <ul class="dropdown-menu " role="menu ">
                            <li><a href=" ">控制台</a></li>
                        </ul>
                    </div>
                </td> -->
            </tr>
        </tbody>
        <tfoot>
            <tr class="active tfoot-dsp ">
                <td colspan="11 ">Displaying {{ result.length }} </td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center ">
        <dir-pagination-controls boundary-links="true " template-url="pages/cloud_hosts/dirPagination.tpl.html "></dir-pagination-controls>
    </div>
</div>
<!-- 模态框 编辑云主机-->
<div class="modal fade " id="editHostModal">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button " class="close " data-dismiss="modal" aria-hidden="true ">&times;</button>
                <h4 class="modal-title ">编辑云主机</h4>
            </div>
            <div class="modal-body ">
                <ul id="myTab " class="nav nav-tabs ">
                    <li class="active "><a data-target="#basicInfo " data-toggle="tab ">基本信息</a></li>
                </ul>
                <div id="tabContent " class="tab-content ">
                    <!-- 基本信息 -->
                    <div class="tab-pane fade in active " id="basicInfo ">
                        <form action=" " method="POST " role="form ">
                            <div class="form-group ">
                                <label for="name ">名称</label>
                                <input type="text " class="form-control " id="name " placeholder="Input field " ng-model="tenant.name">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-default " data-dismiss="modal">取消</button>
                <button type="button " class="btn btn-primary " ng-click="saveChange(tenant) ">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框 创建快照 -->
<div class="modal fade " id="snapshotModal">
    <div class="modal-dialog " style="width: 50% ">
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button " class="close " data-dismiss="modal" aria-hidden="true ">&times;</button>
                <h4 class="modal-title ">创建快照</h4>
            </div>
            <div class="modal-body ">
                <div class="row ">
                    <form class="col-sm-6 " role="form ">
                        <div class="form-group ">
                            <label for="snapshot ">快照名称</label>
                            <input type="text " class="form-control " id="snapshot " ng-model="snapshotName ">
                        </div>
                    </form>
                    <div class="col-sm-6 ">
                        <h3>说明： </h3>快照是保存运行中实例的磁盘状态的一个镜像。
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-default " data-dismiss="modal">取消</button>
                <button type="button " class="btn btn-primary " ng-disabled="!snapshotName " ng-click="createSnapshot(snapshotName) ">创建快照</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框 软重启 -->
<div class="modal fade " id="softRebootModal">
    <div class="modal-dialog " style="width: 50% ">
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button " class="close " data-dismiss="modal" aria-hidden="true ">&times;</button>
                <h4 class="modal-title ">Confirm 软重启实例</h4>
            </div>
            <div class="modal-body ">
                你选择了虚拟机{{cloudHost.name}}.重启实例会丢失所有没存放在永久存储设备上的数据.
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button " class="btn btn-primary" ng-click="reboot('soft')">软重启实例</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框 硬重启 -->
<div class="modal fade " id="hardRebootModal">
    <div class="modal-dialog " style="width: 50% ">
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button " class="close " data-dismiss="modal" aria-hidden="true ">&times;</button>
                <h4 class="modal-title ">Confirm 硬重启实例</h4>
            </div>
            <div class="modal-body ">
                你选择了虚拟机{{cloudHost.name}}.重启实例会丢失所有没存放在永久存储设备上的数据.
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button " class="btn btn-primary" ng-click="reboot('hard')">硬重启实例</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框 删除实例 -->
<div class="modal fade " id="deleteModal">
    <div class="modal-dialog " style="width: 50% ">
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button " class="close " data-dismiss="modal" aria-hidden="true ">&times;</button>
                <h4 class="modal-title ">Confirm 删除实例</h4>
            </div>
            <div class="modal-body ">
                你选择了虚拟机{{cloudHost.name}}.终止的实例均无法恢复
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-default " data-dismiss="modal">取消</button>
                <button type="button " class="btn btn-primary " ng-click="deleteInstance(cloudHost.id)">删除实例</button>
            </div>
        </div>
    </div>
</div>
